* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

/* home page */
#nav_bar {

    width: 100%;
    height: 130px;
    background-color: white;
    box-shadow: 0px 1px 5px #2d2a2a78;
}

#HoSpItAl_LoGo {
    width: 20%;
    height: 250px;
    margin-left: -2%;
    margin-top: -27px;
    cursor: pointer;
}


ul,
li,
a {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px 10px;
    font-weight: 100;
}

.l__o__g__i__n {
    padding: 10px 20px;
    height: 35px;
    margin-top: -10px;
    color: black;
    background: transparent;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
}

#Navigation-bar {
    text-align: end;
    margin-top: -15%;
}

i {
    padding: 0px 10px;
}

#second_nav_bar {
    margin-top: 30px;
}

#second_navbar {
    color: black;
    font-weight: 100;
}

#Book_Appointment {
    width: 150px;
    height: 40px;
    background-color: #272778;
    border: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -10px;
}

#slideshow-img {
    margin-left: -30%;
    margin-top: 1px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.home {
    color: black;
    padding: 10px 0px 0px 20px;
}

#CANCER-CARE {
    width: 100%;
    height: 31rem;
    background-color: #8080801c;
}

.home {
    color: black;
    margin: 2rem 0px 0px 3rem;
}

#CANCER-CARE {
    width: 100%;
    height: 31.8rem;
    background-color: #8080801c;
}

.CANCER-CARE-sub-heading {
    font-size: 2.2rem;
    margin: 2rem 0px 0px 3rem;
}

.CANCER-CARE-sub-heading {
    font-size: 2.2rem;
    margin: 2rem 0px 0px 3rem;
}

.oncology-services,
.Touched-Per,
.expertise-care {
    margin: 0.6rem 0px 0px 3rem;
    font-size: 1.4rem;
}

.Touched-Per {
    color: gray;
    font-size: 1.8rem;
}

.line {
    width: 0px;
    height: 7rem;
    border: 1px solid gray;
    margin: 1rem 0px 0px 3rem;
}

#cancercare-img {
    margin: -31.3rem 0px 0px 38rem;
    position: absolute;
    width: 54%;
    height: 65vh;
}

#second-section {
    position: relative;
    margin: 5rem 0 0 0;

}

.Specialities {
    background-color: blue;
    padding: 10px 12px;
    border: transparent;
    border-radius: 5px;
    margin: 0px 0px 0px 3rem;
    color: white;
    font-weight: 900;
    font-size: 1.3rem;
    cursor: pointer;

}

.Why-Trust-Us,
.Pioneering,
.FAQ {
    color: blue;
    font-weight: 900;
    font-size: 1.3rem;
    margin: 0px 0px 0px 7rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.Cancer-Care-Sciences-sub-heading {
    margin: 5rem 0px 0px 3rem;
    font-size: 2.4rem;
}

.Cancer-Care-Sciences-img {
    width: 50%;
    height: 30rem;
    padding: 10rem 20px 0px 0px;
    margin: 50px 0px 0px 5rem;
    background-color: transparent;
}

#Cancer-Care-Sciences-img {
    width: 50%;
    height: 30rem;
    position: absolute;
    margin: -10rem 0px 0px 0px;
    background-color: transparent;
    padding: 10px 12px;
}

.flex-flex {
    width: 40%;
    height: 29rem;
    background-color: #ebe6e657;
    position: absolute;
    margin: -29.5rem 0px 0px 49rem;
    border-radius: 5px;
}

.clipboard-list {
    font-size: 3rem;
    background: linear-gradient(135deg, #005aae, #e30613);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#second-column {
    display: block;
    padding: 10px 12px;
}

.first_columnlist {
    margin: 20px 0px 0px 10%;
}

.clipboard-listfirst {
    padding: 10px;
    margin: 4% 0px 0px 0px;
    position: absolute;
}

.clipboard-listsecond {
    position: absolute;
    padding: 10%;
    margin: 0px 0px 0px -45%;
}

.clipboard-listthired {
    position: absolute;
    padding: 10%;
    margin: 0px 0px 0px -47%;
}

.Medical-Oncology,
.Haemato-Oncology,
.Surgical-Oncology {
    text-decoration: underline;
    margin: 5px 0px 0px 10%;
}
.Healthcare-Expert-Cutting-Global{
    display:block;
}
.Healthcare-Excellence{
    margin:12rem 0px 0px 47rem;
    
}
.Expert-Team{
    margin:1rem 0px 0px 47rem;
}
.Cutting-Edge-Technology{
    margin:1rem 0px 0px 47rem; 
    
 }
.Global-Recognition{
    margin:1rem 0px 0px 47rem; 
 }
.Patient-Centric-Approach{
    margin:1rem 0px 0px 47rem;
}
.Safety-Assurance{
       margin:1rem 0px 0px 47rem;
    
    }
.Diverse-Specialties{
  margin:1rem 0px 0px 47rem; 
    
}
.NABL-and-JCI{
    margin:1rem 0px 0px 47rem;
    
}
.cancer-care-means-choosing,
.Beyond-treatment {
    margin: -18% 0px 0px 48rem;
    padding: 0px;
    color: gray;
}

#Trust-Krisahn-Health-sub-heading {
    margin: 20px 0px 0px 5rem;
    font-size: 2.2rem;
}

.Krishan-Health-for-img {
    width: 50%;
    padding: 16px 20px 0px 0px;
}
.Pioneering-Excellence{
    background-color:#bbbbbb2b;
    width:90%;
    height:20rem;
    margin:5rem 0px 0px 5rem;
    border-radius:5px;
}
.Pioneering-Excellence-heading{
    font-size:2.6rem;
    margin:10px 0px 0px 5rem;
    position:absolute;
}
.Pioneering-Excellence p{
    padding:10px 0px 0px 20px;
    margin:10px 0px 0px 20px;
    line-height:1.8rem;
}
#Sciences-FAQ {
    width: 90%;
    background-color: white;
    margin: 5rem;
    padding: 10px 12px;
}

.sub-heading-Cardiac {
    text-align: center;
    padding: 10px;
    font-size: 1.7rem;
}

.accordion {
    margin: 10px 0 0 10rem;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 15px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    margin: 0px 0px 0px 9rem;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: start;
}

#Have-a-Question {
    display: block;
    background-color: blanchedalmond;
    width: 90%;
    height: 30rem;
    position: absolute;
    margin-left: 5rem;
    margin-top: -4%;
}

.haveaqueshionheading {
    font-size: 2rem;
    text-align: center;
}

label,
#fullName {
    display: block;
    padding: 10px;
    margin:0px 0px 0px 20rem;
}

#fullName,
#phoneNumber,
#email {
    width: 30rem;
    height: 50px;
    margin: -10px 0px 0px 20rem;
    border: transparent;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    text-align:start;
}

#checkboxlabel,
#check {
    display: block;
    margin-left: 29%;
}

#check {
    position: absolute;
    margin: 1rem 0px 0px 28%;

}

.Terms {
    text-decoration: underline;
}

#CARDIAC_SCIENCES_SUBMIT_BTN {
    width: 20%;
    height: 50px;
    border: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    margin:20px 0px 0px 20rem;
}

#check:checked ~ #CARDIAC_SCIENCES_SUBMIT_BTN{
    background-color: blue; 
  }


  /*footer*/
footer {
    width: 100%;
    height: 500px;
    background-color: #80808045;
    margin-top: 40rem;
    font-weight: 600;
    color: black;
}

#all_social_media {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: -30px;
    cursor: pointer;
}

#facebook_icon,
#twitter_icon {
    color: #23239fc2;
    ;
}

#instagram_icon {
    color: deeppink;
}

#youtube_icon {
    color: red;
}

#connect_us {
    margin-left: -15%;
    position: absolute;
    margin-top: 12%;
    font-size: 1.3rem;
}

#Subscribe__Newsletter {
    padding: 10px 20px;
}

#email_send,
input[type="email"] {
    margin-left: 5px;
    height: 40px;
    padding: 10px;
}

/*first footer*/
#all_info_footer,
.footer_panel_first,
.first_footer_panel {
    display: block;
    margin-left: 9%;
    color: black;

}

.footer_panel_first {
    margin-top: -23%;
    color: black;
}

#footer_panel_first_heading {
    margin-left: 3%;
    color: black;
    font-weight: 800
}

/*second footer*/

#footer_panel_second,
.footer_panel_second,
.second_footer_panel {
    display: block;
    margin-left: 12%;
    color: black;
}

.footer_panel_second,
.second_footer_panel,
#footer_panel_second {
    display: block;
    margin-left: 14%;
    color: black;
}

#footer_panel_second_heading {
    margin-left: 22%;
    margin-top: -18%;
}

/*thired footer*/
#footer_panel_thired,
.footer_panel_thired,
.thired_footer_panel {
    display: block;
    margin-left: 22%;
    margin-top: -5%;
    color: black;
}

#footer_panel_thired_heading {
    margin-left: 35%;
    margin-top: -15%;
}

.footer_panel_thired {
    margin-top: 7%;
    color: black;

}

/*four footer*/
#footer_panel_four,
.footer_panel_four,
.four_footer_panel {
    display: block;
    margin-left: 35%;
    color: black;
}

#footer_panel_four_heading {
    margin-left: 50%;
    margin-top: -13%;

}
