* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

/* home page */
#nav_bar {

    width: 100%;
    height: 130px;
    background-color: white;
    box-shadow: 0px 1px 5px #2d2a2a78;
}

#HoSpItAl_LoGo {
    width: 20%;
    height: 250px;
    margin-left: -2%;
    margin-top: -27px;
    cursor: pointer;
}


ul,
li,
a {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px 10px;
    font-weight: 100;
}

.l__o__g__i__n {
    padding: 10px 20px;
    height: 35px;
    margin-top: -10px;
    color: black;
    background: transparent;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
}

#Navigation-bar {
    text-align: end;
    margin-top: -15%;
}

i {
    padding: 0px 10px;
}

#second_nav_bar {
    margin-top: 30px;
}

#second_navbar {
    color: black;
    font-weight: 100;
}

#Book_Appointment {
    width: 150px;
    height: 40px;
    background-color: #272778;
    border: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -10px;
}

#slideshow-img {
    margin-left: -30%;
    margin-top: 1px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
#GASTRO-SCIENCES{
    width:100%;
    height:480vh;
    background-color:#80808017;
    position:absolute;
}
.home{
    color:black;
    margin:20px 0 0 30px;
}
.GASTRO-SCIENCES-sub-heading{
    margin:20px 0px 0px 30px;
    font-size:2.3rem;
}
.gastrosciences{
    margin:10px 0px 0px 30px;
    font-weight:100;
}
.Touched-Per{
    color:gray;
    margin:10px 0px 0px 30px;
    font-weight:100;
    font-size:2.3rem;
}
.line{
    width:1px;
    height:7rem;
    border:1px solid gray;
    margin:10px 0px 0px 30px;
}
.expertise-care{
margin:10px 0px 0px 30px;
}
#GASTRO-SCIENCES-IMG{
    width:59%;
    height:250px;
    margin:-25.6rem 0px 0px 34.4rem;
    position:absolute; 
}
#why-trust-Us{
    margin:25rem 0px 0px 0px;
}

.Specialities {
    background-color: blue;
    padding: 15px;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 40px 0px 0px 6rem;
    position:relative;
    cursor:pointer;
}

.why-trust-Us,
.FAQ {
    color: blue;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;
    position:relative;
}
.Specialties-We-Offer{
    margin:40px 0px 0px 35px;
    font-size:2.7rem;
}
#IMG-GASTRO-SCIENCES{
    width:50%;
    height:25rem;
    padding:20px;
    margin:20px 0px 0px 35px;
}
#IMG-GASTRO-SCIENCES img{
    width:100%;
    height:420px;
    padding:30px 30px;
        margin:30px 0px 0px 30px;
    filter:drop-shadow(0px 0px 1px  black);
    border-right:10px;
}
#IMG-GASTRO-SCIENCES img{
    width:100%;
    height:540px;
    padding:30px 30px;
        margin:-40px 0px 0px 30px;
    border-radius:5%;
    border:transparent;
}
#CARDIAC-SCIENCES-SECOND {
    width: 100%;
    height: 475px;

}

.clipboard-list {
    font-size: 3rem;
    background: linear-gradient(135deg, #005aae, #e30613);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.width-column-two {
    width: 40%;
    height: 30rem;
    position: absolute;
    margin-left: 50%;
    margin-top: -38%;
    border-radius: 5px;
    background-color: white;
}

.first_columnlist {
    margin: 20px 0px 0px 20%;
    padding: 10px;
}
.width-column-two{
    margin-left:45rem;
    margin-top:-29.2%;
    position:absolute;
}
.width-column-two,
#second-column {
    display: block;

}

.clipboard-listfirst {
    position: absolute;
    margin-top: 30px;
}

.clipboard-listsecond {
    position: absolute;
    margin-top: 50px;
    margin-left: -55%
}



.Medical-Gastroenterology,
.Surgical-Gastroenterology {
    text-decoration: underline;
    margin-left: 6rem;
}

#Trust-Krisahn-Health-sub-heading {
    font-size: 2.6rem;
    margin: 10rem 0px 0px 40px;
    position:absolute;
}

.Krishan-Health-for-img {
    margin: 25% 0px 0px 1%;
    width:50%;
}
.gastroenterologists{
    position:absolute;
    margin:-30% 0px 0px 50%; 
}
.Healthcare-Expert-Cutting-Global{
    display:block;
}
.Healthcare-Excellence{
    position:absolute;
    margin:-15% 0 0 40rem;
}
.Cutting-Edge-Technology{
    position:absolute;
    margin:-11% 0 0 40rem;
}
.State-of-the-art{
    position:absolute;
    margin:-8% 0 0 40rem;
}
.Global-Recognition{
    position:absolute;
    margin:-3% 0 0 40rem;
}
.Patient-Centric-Approach{
    position:absolute;
    margin:2% 0 0 40rem;
}
.Safety-Assurance{
    position:absolute;
    margin:7% 0 0 40rem;
}
.Diverse-Specialties{
    position:absolute;
    margin:10% 0 0 40rem;
}
.NABL-and-JCI{
    position:absolute;
    margin:15% 0 0 40rem;
}



/**/

#Sciences-FAQ {
    width: 90%;
    background-color: white;
    margin: 5rem;
    padding: 20% 12px;
}

.sub-heading-Cardiac {
    text-align: center;
    padding: 10px;
    font-size: 1.7rem;
}

.accordion {
    margin: 10px 0 0 10rem;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 15px;
    position: relative;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    margin: 0px 0px 0px 9rem;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: start;
}

#Have-a-Question {
    display: block;
    background-color: blanchedalmond;
    width: 90%;
    height: 30rem;
    position: absolute;
    margin-left: 5rem;
    margin-top: -20%;
}

.haveaqueshionheading {
    font-size: 2rem;
    text-align: center;
}

label,
#fullName {
    display: block;
    padding: 10px;
    margin:0px 0px 0px 20rem;
}

#fullName,
#phoneNumber,
#email {
    width: 30rem;
    height: 50px;
    margin: -10px 0px 0px 20rem;
    border: transparent;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    text-align:start;
}

#checkboxlabel,
#check {
    display: block;
    margin-left: 29%;
}

#check {
    position: absolute;
    margin: 1rem 0px 0px 28%;

}

.Terms {
    text-decoration: underline;
}

#CARDIAC_SCIENCES_SUBMIT_BTN {
    width: 20%;
    height: 50px;
    border: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    margin:20px 0px 0px 20rem;
}

#check:checked ~ #CARDIAC_SCIENCES_SUBMIT_BTN{
    background-color: blue; 
  }


  /*footer*/
footer {
    width: 100%;
    height: 500px;
    background-color: #80808045;
    margin-top: 20rem;
    font-weight: 600;
    color: black;
}

#all_social_media {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: -30px;
    cursor: pointer;
}

#facebook_icon,
#twitter_icon {
    color: #23239fc2;
    ;
}

#instagram_icon {
    color: deeppink;
}

#youtube_icon {
    color: red;
}

#connect_us {
    margin-left: -15%;
    position: absolute;
    margin-top: 12%;
    font-size: 1.3rem;
}

#Subscribe__Newsletter {
    padding: 10px 20px;
}

#email_send,
input[type="email"] {
    margin-left: 5px;
    height: 40px;
    padding: 10px;
}

/*first footer*/
#all_info_footer,
.footer_panel_first,
.first_footer_panel {
    display: block;
    margin-left: 9%;
    color: black;

}

.footer_panel_first {
    margin-top: -23%;
    color: black;
}

#footer_panel_first_heading {
    margin-left: 3%;
    color: black;
    font-weight: 800
}

/*second footer*/

#footer_panel_second,
.footer_panel_second,
.second_footer_panel {
    display: block;
    margin-left: 12%;
    color: black;
}

.footer_panel_second,
.second_footer_panel,
#footer_panel_second {
    display: block;
    margin-left: 14%;
    color: black;
}

#footer_panel_second_heading {
    margin-left: 22%;
    margin-top: -18%;
}

/*thired footer*/
#footer_panel_thired,
.footer_panel_thired,
.thired_footer_panel {
    display: block;
    margin-left: 22%;
    margin-top: -5%;
    color: black;
}

#footer_panel_thired_heading {
    margin-left: 35%;
    margin-top: -15%;
}

.footer_panel_thired {
    margin-top: 7%;
    color: black;

}

/*four footer*/
#footer_panel_four,
.footer_panel_four,
.four_footer_panel {
    display: block;
    margin-left: 35%;
    color: black;
}

#footer_panel_four_heading {
    margin-left: 50%;
    margin-top: -13%;

}
